---
---

@import "{{ site.theme }}";

body {
background-color:#0b0f0c;
color:#f5b3ee;
}

.highlight {
background-color: #0b0f0c !important;
color: #a3dde3 !important;
border: 1px dashed #ccc;
}
pre { 
color: #a3dde3; 
}

h1 {
color: #a3dde3 !important;
}
h2 {
color: #a3dde3 !important;
}

